{for p in data}
<div class="body-5a" sn="${p.sn}">
    <table width="95%" border="0" align="center">
        <tr>
            <td valign="top" colspan="2">
                ${p.un}扮演
            </td>
        </tr>
        <tr>
            <td valign="top">
                性別：${p.gui}
            </td>
            <td valign="top">
                年齡：${p.aui}
            </td>
        </tr>
        <tr>
            <td valign="top">
                教育程度：${p.eui}
            </td>
            <td height="21" valign="top">
                職業：${p.c}
            </td>
        </tr>
    </table>
</div>
{/for} 