/TestResults
/Rest.Core/obj
/Rest.Core/bin
/InnoThinkDomain/obj
/InnoThinkDomain/bin
/InnoThink.DAL/obj
/InnoThink.DAL/bin
/InnoThink.BLL/obj
/InnoThink.BLL/bin
/EShopManager.Website/obj
/EShopManager.Website/bin
/DbSchemaGenerator/obj
/DbSchemaGenerator/bin
/EShopManager.Core/obj
/UnitTest.Rest.Core/obj
/EShopManager.Website/CDN/Images/Common/*.db
/EShopManager.Website/CDN/Plugins/images/*.db
/EShopManager.Website/pic/*.db
/EShopManager.Website/Views/Source/jfu-CSharp-Example-master/jfuExample/jfuExample/Script/*.db
/EShopManager.Website/Views/Source/jfu-CSharp-Example-master/jfuExample/jfuExample/Upload/*.db
/EShopManager.Website/Views/Source/pic/*.db
/EShopManager.Website/Views/Source/jfu-CSharp-Example-master/jfuExample/*.suo
/*.suo
/EShopManager.Website/*.user
/EShopManager.Website/Views/Source/jfu-CSharp-Example-master/jfuExample/jfuExample/*.user
/InnoThink.BLL/*.user
/InnoThink.DAL/*.user
/InnoThinkDomain/*.user
/UnitTest.Rest.Core/*.user
/EShopManager.Website/Views/Source/jfu-CSharp-Example-master/jfuExample/jfuExample/obj/Debug/*.cache
/InnoThink.Core/bin
/InnoThink.Core/obj
/InnoThink.Website/bin
/InnoThink.Website/obj
/UnitTest.Rest.Core/bin
/InnoThink.Website/App_Data/*.log
/InnoThink.Domain/obj/Debug
/InnoThink.Core/*.user
/InnoThink.Domain/*.user
